@import './variables';

.rectangle-marker {
    display: flex;
    align-items: center;
    font-family: $font-family;
    font-weight:600;

  }

  .rectangle-marker_city_hot {
    font-size: 19px;
    line-height: 100%;
    padding: 4pt 8pt; 
    background: #ffdd00;
    color: white;
    white-space: nowrap;
    margin-left: -12px; 
    padding-left: 16px; 
    border-top-right-radius: 4pt;
    border-bottom-right-radius: 4pt;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;

  }

  .rectangle-marker_city_cold {
    font-size: 19px;
    line-height: 100%;
    padding: 4pt 8pt; 
    background: #0096c7;
    color: white;
    white-space: nowrap;
    margin-left: -12px; 
    padding-left: 16px; 
    border-top-right-radius: 4pt;
    border-bottom-right-radius: 4pt;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
  }
  
  .rectangle-marker_temp_hot {
    font-size: 12px;
    line-height: 100%;
    padding: 4pt;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #ffd700, #ffa500);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    z-index: 1;
  }

  .rectangle-marker_temp_cold {
    font-size: 12px;
    line-height: 100%;
    padding: 4pt;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, #002fff, #00aeff);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    z-index: 1;

  }
  
  
  
  